@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #0e1538;
  padding: 1rem 3rem;
}
header figure {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
header figure figcaption {
  color: #f2f2dd;
  font-size: 1.5rem;
}
header .navList ul {
  display: flex;
  gap: 2.5rem;
}
header .navList a {
  color: #f2f2dd;
}
header .smNavList {
  display: none;
}
header .buttonDiv {
  align-self: center;
}
header .buttonDiv button {
  background-color: #f2f2dd;
  color: #0e1538;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
}

main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
main section {
  background-image: url(../slike/background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main section .formDiv {
  width: 60%;
  margin: 5rem auto;
}
main section form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  gap: 0.5rem;
  padding: 0.5rem;
  background: #fff;
  border-radius: 2rem;
}
main section form div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main section form div input {
  padding: 1rem;
  display: flex;
  border-radius: 2rem;
}
main section form div:last-child {
  display: flex;
  align-self: flex-end;
}
main section form div:last-child button {
  background-color: #fb5b5b;
  padding: 1.2rem;
  border-radius: 50%;
  border: none;
}
main article {
  display: grid;
  grid-template-rows: auto 1fr;
}
main article h1 {
  text-align: center;
  font-size: 2.5rem;
}
main article .figureDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
main article .figureDiv figure {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 1px 1px 1px 1px #7079f7;
  padding: 1rem;
  border-radius: 1rem;
  transition: transform 2s ease-in-out;
}
main article .figureDiv figure img {
  width: 300px;
  height: 350px;
  border-radius: 1rem;
  transition: transform 2s ease-in-out;
}
main article .figureDiv figure img:hover {
  transform: rotateY(180deg) scale(1.2);
}

footer {
  background-color: #0e1538;
  padding: 2rem;
  color: #f2f2dd;
}
footer a {
  color: #f2f2dd;
}
footer article {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer article section {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  main {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
  }
  .formDiv {
    width: 95% !important;
  }
  .figureDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .figureDiv .berlinFigure {
    grid-column: span 2;
    width: 50%;
    margin: 0 auto;
  }
  footer article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  footer article section {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 810px) {
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  main {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .formDiv {
    width: 100%;
    padding: 2rem 0rem 1rem 0rem;
    margin: 0 auto !important;
  }
  .formDiv form {
    width: 100%;
  }
  .figureDiv {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .figureDiv .berlinFigure {
    grid-column: span 1;
    width: 100%;
  }
  footer article {
    width: 100% !important;
  }
  .buttonDiv {
    display: flex;
    justify-content: flex-end;
  }
  .navList {
    display: none;
  }
  .smNavList {
    display: grid !important;
    grid-column: span 2 !important;
    text-align: center;
  }
  .smNavList ul {
    display: grid;
  }
  .smNavList ul li {
    width: 100%;
    padding: 1rem;
  }
  .smNavList ul li a {
    color: #f2f2dd;
  }
  .smNavList ul li:hover {
    background-color: #f2f2dd;
  }
  .smNavList ul li:hover a {
    color: #0e1538;
  }
  form {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  form div {
    text-align: start !important;
    margin-left: 0.5rem;
  }
  form div button {
    border-radius: 2rem !important;
  }
}

/*# sourceMappingURL=styles.css.map */
