@mixin defaultState {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        // font-family: $tekstRoman, cursive;
        font-weight: bold;
        // color: $neutral;
    }
}

@mixin customBody {

    // background: $background;
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100dvh;
    }
}



@mixin flexJADT($content, $align, $direction: row, $ta: flex-start) {
    display: flex;
    justify-content: $content;
    align-items: $align;
    flex-direction: $direction;
    text-align: $ta;
}

@mixin customUL {
    ul {
        list-style-type: none;
    }


    a {
        text-decoration: none;
        color: $hoverZuta;
    }

    @content
}

@mixin customButton {
    background-color: $hoverZuta;
    color: $tamnoPlava;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
}

@mixin tablet {
    @media only screen and (max-width: 1200px) {
        @content;
    }

}

@mixin srednji {
    @media only screen and (max-width: 980px) {
        @content;
    }

}

@mixin mobilni {
    @media only screen and (max-width: 810px) {
        @content;
    }
}