@mixin defaultState {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-weight: bold;
        list-style-type: none;
        text-decoration: none;
    }
}

@mixin customBody {
        @include customGrid($rows: auto 1fr auto);
        height: 100dvh;
}


@mixin customGrid($rows: null, $columns: null, $gap: null, $row-gap: null, $column-gap: null) {
    display: grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
    gap: $gap;
    row-gap: $row-gap;
    column-gap: $column-gap;
  } 


@mixin customFlex($content:null, $align: null, $direction: null, $gap: null, $ta: null) {
    display: flex;
    justify-content: $content;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
    text-align: $ta;
}

@mixin customWidth($sirina, $visina:0) {
    width: $sirina;
    margin: $visina auto;
}

@mixin customButton {
    background-color: $hoverZuta;
    color: $tamnoPlava;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
}

@mixin tablet {
    @media only screen and (max-width: 1200px) {
        @content;
    }

}

@mixin srednji {
    @media only screen and (max-width: 980px) {
        @content;
    }

}

@mixin mobilni {
    @media only screen and (max-width: 810px) {
        @content;
    }
}