@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import 'mixin';
@import 'vars';

@include defaultState;

body {
    @include customBody;
}

header {
    @include customFlex(space-between,flex-end);
    background-color: $tamnoPlava;
    padding: 1rem 3rem;
    figure {
        @include customFlex($align: flex-end, $gap: 1rem);
        figcaption {
            color: $hoverZuta;
            font-size: 1.5rem;
        }
    }
    .navList {
        ul {
            @include customFlex($gap: 2.5rem);
        }
        a {
            color: $hoverZuta;
        }
    }
    .smNavList {
        display: none;
    }
    .buttonDiv {
        align-self: center;
        button {
            @include customButton;
        }
    }
}

main {
    @include customGrid($rows: repeat(2,1fr));
    section {
        background-image: url(../slike/background.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .formDiv {
            @include customWidth(60%,5rem);
        }
        form {
            @include customGrid($columns: 1fr 1fr 1fr 1fr auto, $gap: 0.5rem);
            padding: 0.5rem;
            background: #fff;
            border-radius: 2rem;
            div {
                @include customFlex($direction: column, $ta: center);
                input {
                    padding: 1rem;
                    display: flex;
                    border-radius: 2rem;
                }
                &:last-child {
                    display: flex;
                    align-self: flex-end;
                    button {
                        background-color: $crvena;
                        padding: 1.2rem;
                        border-radius: 50%;
                        border: none;
                    }
                }
            }
        }
    }
    article {
        @include customGrid($rows:auto 1fr);
        h1 {
            text-align: center;
            font-size: 2.5rem;
        }
        .figureDiv {
            @include customGrid($columns: repeat(3,1fr), $gap: 2rem);
            justify-content: center;
            align-items: center;
            padding: 2rem;
            figure {
                @include customFlex($direction: column, $align: center, $gap: 0.5rem);
                box-shadow:1px 1px 1px 1px $plava;
                padding: 1rem;
                border-radius: 1rem;
                transition: transform 2s ease-in-out;
                img {
                    width: 300px;
                    height: 350px;
                    border-radius: 1rem;
                    transition: transform 2s ease-in-out;
                    &:hover {
                        transform: rotateY(180deg) scale(1.2);
                    }
                }
            }
        }
    }
}

footer {
    background-color: $tamnoPlava;
    padding: 2rem;
    color: $hoverZuta;
    a {
        color: $hoverZuta;
    }
    article {
        @include customWidth(70%);
        @include customFlex($content: space-between);
        section {
            @include customFlex($gap: 2rem);
            padding: 1.5rem;
        }
    }
}


@include tablet {
    main {
        @include customGrid($rows: 0.5fr 1fr);
    }
    .formDiv {
        width: 95%!important;
    }
    .figureDiv {
        @include customGrid($columns: repeat(2,1fr)!important);
        .berlinFigure {
            grid-column: span 2;
            @include customWidth(50%);
        }
    }
    footer {
        article {
            @include customFlex($content: center, $align: center);
            flex-direction: column-reverse;
            section {
                @include customFlex($content:center);
            }
        }
    }
}

@include mobilni {
    header {
         @include customGrid($columns: repeat(2,1fr), $gap: 1rem);
    }
    main {
        @include customGrid($rows: auto 1fr);
    }
    .formDiv {
        width: 100%;
        padding: 2rem 0rem 1rem 0rem;
        margin: 0 auto!important;
        form {
            width: 100%;
        }
    }
    .figureDiv { 
        @include customGrid($columns: 1fr!important);
        .berlinFigure {
            grid-column: span 1;
            width: 100%;
        }
    }
    footer {
        article {
            width: 100% !important;
        }
    }
    .buttonDiv {
        @include customFlex($content: flex-end);
    }
    .navList {
        display: none;
    }
    .smNavList {
        display: grid !important;
        grid-column: span 2 !important;
        text-align: center;
        ul {
            display: grid;
            li {
                width: 100%;
                padding: 1rem;
                a {
                    color: $hoverZuta;
                }
                &:hover {
                    background-color: $hoverZuta;
                    a {
                        color: $tamnoPlava;
                    }
                }
            }
        }
    }
    form {
        @include customGrid($columns: 1fr!important);
        div {
            text-align: start!important;
            margin-left: 0.5rem;
            button {
                border-radius: 2rem!important;
            }
        }
    }
}